---
layout: default
permalink: /categories
title: Chuyên Mục
---
{% for category in site.categories %}
  <div class="card mb-3" id="#{{ category_name | slugize }}"> <div class="card-body">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <h5 class="card-body">{{ category_name }}</h5>
    {% for post in site.categories[category_name] %}
    <ul class="list-unstyle">
      <li><a href="{{ post.url | prepend: site.url }}">{{ post.title }}</a></li>
    </ul>
    {% endfor %}
  </div> </div>
{% endfor %}