<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% feed_meta %}
  {% seo %}
<meta name="theme-color" content="#22292F">
<meta name="robots" content="index,follow">
<link rel="shortcut icon" href="https://github.githubassets.com/favicon.ico" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/flatly/bootstrap.min.css" />
<style>*{margin:0;padding:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}html{overflow-y:scroll!important}</style>
</head>

