---
layout: default
---

<div class="card-group">
{% for post in paginator.posts %}
  <div class="card mb-3">
    <div class="card-body">
      <h2 class="card-title"><a  href="{{ post.url | prepend: site.url }}">{{ post.title }}</a></h2>
      <small class="card-subtitle my-2 text-muted"><span class="mx-2"><i class="fal fa-clock"></i> {{ post.date | date: "%H:%M %d/%m/%Y" }}</span> <span class="mx-2"><i class="fal fa-user"></i> {{ post.author | default: "BROOK" }}</span> <span class="mx-2"><i class="fal fa-folder"></i> {% for category in post.categories %} {{ category | capitalize }} {% unless forloop.last %}&nbsp;{% endunless %} {% endfor %}</span></small>
      <p class="card-text"> {{ post.content | strip | strip_html | truncatewords: 50 }} </p>
      <a class="btn btn-primary" href="{{ post.url | prepend: site.url }}">Đọc tiếp</a>
    </div>
  </div>
{% endfor %}
</div>