---
layout: default
---

<div class="card-group">
{% for post in paginator.posts %}
  <div class="card mb-3">
    <div class="card-body">
      <h2 class="card-title"><a  href="{{ post.url | prepend: site.url }}">{{ post.title }}</a></h2>
      <p class="card-subtitle my-2 text-muted"> <ul class="list-inline">
        <li><i class="fal fa-clock"></i> {{ post.date | date: "%d/%m/%Y" }}</li>
        <li><i class="fal fa-user"></i> {{ post.author |default: site.author['name'] }}</li>
        <li><i class="fal fa-folder"></i> {% for category in post.categories %} {{ category | capitalize }} {% unless forloop.last %}&nbsp;{% endunless %} {% endfor %}</li>
      </ul> </p>
      <p class="card-text text-justify"> {{ post.content | strip | strip_html | truncatewords: 50 }} </p>
      <a class="btn btn-primary" href="{{ post.url | prepend: site.url }}">Đọc tiếp</a>
    </div>
  </div>
{% endfor %}
</div>