---
layout: default
---
<nav>
  <ol class="breadcrumb bg-primary">
    <li class="breadcrumb-item"><a href="{{ site.url }}">Trang chủ</a></li>
    <li class="breadcrumb-item">
{% for category in page.categories %}
  <a href="{{ site.url }}/categories/#{{ category | slugize }}">{{ category | capitalize }}</a>
  {% unless forloop.last %}&nbsp;{% endunless %}
{% endfor %}
    </li>
    <li class="breadcrumb-item active">{{ page.title | truncatewords: 10 }}</li>
  </ol>
</nav>

<div class="card mb-3"> <div class="card-body">
<h2 class="card-title">{{ page.title }}</h2>
<small class="card-subtitle my-2 text-muted"><span class="mx-2"><i class="fal fa-clock"></i> {{ page.date | date: "%H:%M %d/%m/%Y" }}</span> <span class="mx-2"><i class="fal fa-user"></i> {{ page.author |default: "BROOK" }}</span> <span class="mx-2"><i class="fal fa-folder"></i> {% for category in page.categories %} {{ category | capitalize }} {% unless forloop.last %}&nbsp;{% endunless %} {% endfor %}</span></small>
<p class="card-text text-justify"> {{ content }} </p>
</div> </div>
{% if page.comments == true %}
<div class="card mb-3">
<div
 class="just-comments card-body"
 data-apikey="3113aa74-bf26-4a15-9a64-9fd94ad21d97"
 data-recaptcha="true"
 data-disablesociallogin="true"
 data-enablewebsite="true"
 data-disableprofilepictures="true"
 data-disablesharebutton="true"
></div>
</div>
<script async src="https://just-comments.com/w2.js"></script>
<script src='https://just-comments.com/auth2.js' async defer></script>
{% endif %}