---
layout: default
---
<div class="card mb-3"> <div class="card-body">
<h2 class="card-title">{{ page.title }}</h2>
<p class="card-subtitle my-2"> <ul class="list-inline text-muted">
<li class="list-inline-item"><i class="fal fa-calendar"></i> {{ page.date | date: "%d/%m/%Y" }}</li>
<li class="list-inline-item"><i class="fal fa-user"></i> {{ page.author |default: site.author['name'] }}</li>
<li class="list-inline-item"><i class="fal fa-folder"></i> {% for category in page.categories %} {{ category | capitalize }} {% unless forloop.last %}&nbsp;{% endunless %} {% endfor %}</li>
<li class="list-inline-item"><i class="fal fa-comments"></i> <a href="#disqus_thread" class="text-muted">bình luận</a></li>
</ul> </p>
<div class="card-text text-justify" id="noidung"> 
{% if page.toc == true %} <div id="toc"> {% toc %} </div> {% endif %}
{{ content }}
<style>img{border-radius:0.25rem !important;margin-top:0.25rem !important;margin-bottom:0.25rem !important}</style>
</div>
</div> </div>
</div> <div class="col-md-4">

{% if site.disqus_shortname %}{% unless page.comments == false %}
<div class="card mb-3"><div class="card-body"><div id="disqus_thread"></div></div></div>
<script type="text/javascript">var disqus_shortname="{{ site.disqus_shortname }}";!function(){var e=document.createElement("script");e.type="text/javascript",e.async=!0,e.src="https://{{ site.disqus_shortname }}.disqus.com/embed.js",(document.getElementsByTagName("head")[0]||document.getElementsByTagName("body")[0]).appendChild(e)}();</script> 
{% endunless %}{% endif %}

<div class="card mb-3"> <div class="card-body">
<h5 class="card-title">Bài Viết Liên Quan</h5>
<ul class="list-unstyled posts-recent">
{% assign maxRelated = 5 %}
{% assign minCommonTags = 1 %}
{% assign maxRelatedCounter = 0 %}
{% for post in site.posts %}
    {% assign sameTagCount = 0 %}
    {% assign commonTags = '' %}
    {% for category in post.categories %}
      {% if post.url != page.url %}
        {% if page.categories contains category %}
          {% assign sameTagCount = sameTagCount | plus: 1 %}
          {% capture tagmarkup %} <span class="badge badge-primary">{{ category }}</span> {% endcapture %}
          {% assign commonTags = commonTags | append: tagmarkup %}
        {% endif %}
      {% endif %}
    {% endfor %}
    {% if sameTagCount >= minCommonTags %}
      <li><a href="{{ post.url | prepend: site.url }}">{{ post.title }}</a></li>
      {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
      {% if maxRelatedCounter >= maxRelated %}
        {% break %}
      {% endif %}
    {% endif %}
  {% endfor %}
</ul> </div> </div>