---
layout: default
---

<nav>
  <ol class="breadcrumb bg-primary">
    <li class="breadcrumb-item"><a href="{{ site.url }}">Trang chủ</a></li>
  {% if post.categories %}
    <li class="breadcrumb-item">{{ post.categories }}</li>
  {% endif %}
    <li class="breadcrumb-item active">{{ page.title | truncatewords: 10 }}</li>
  </ol>
</nav>

<div class="card mb-3"> <div class="card-body">
<h2 class="card-title">{{ page.title }}</h2>
<small class="card-subtitle my-2 text-muted"><i class="fal fa-clock"></i> {{ page.date | date: "%H:%M %d/%m/%Y" }}</small>
<p class="card-text"> {{ content }} </p>
</div> </div>